<div style='padding-left:100px;'>
	
<div style="float: right; background-color: rgb(0, 170, 0); font-style: inherit;">
<%= form_tag appointments_change_tz_url do %>
	<%= select_tag :time_zone, options_for_select(ALL_ZONES) %>
	<%= submit_tag 'Change Time Zone' %>
<% end %>
<%= "Server Time ----- #{Time.now}" %>
<br />
<%= "Server Time Zone ----- #{Time.now.zone}" %>
<br />
<%= "Session TimeZone ----- #{Time.zone}" %>
<br />
<%= "Current Session Time----- #{Time.zone.now}" %>
</div>
<h1> <%= "Appointments #{params[:action]}"%></h1>
<p>Display schedules</p>
<table class="container">
	<thead>
		<title>Display schedules</title>
			<tr>
				<td><%= "Scheduled At"  %></td>
				<td>|</td>
				<td><%= "Scheduled At (to_s)"  %></td>
			</tr>		
	</thead>
	<tbody>
		<% @schedules.each do |obj| %>

			<tr>
				<td><%= obj.scheduled_at  %></td>
				<td>|</td>
				<td><%= obj.scheduled_at.to_s  %></td>
			</tr>		
		<% end %>
	</tbody>
</table>
<%=link_to 'Display records of 18 Jan', root_url%><br />
<%=link_to 'Add', appointments_add_url%><br />
<%=link_to 'Index', appointments_index_url%><br />
<%=link_to "Index With User's Time Zone", appointments_user_tz_url%><br />
<%=link_to 'Index With Time Zone (Midway Island)', appointments_index_tz_url%><br />
<%=link_to "Different Formats", appointments_different_formats_url%><br />
<%=link_to "Different Functions", appointments_different_functions_url%><br />
</div>
